<nav class="c-docs-navigation">
	<mat-accordion>
		<mat-expansion-panel [ngClass]="'c-docs-navigation_mat-expansion-panel'">
			<mat-expansion-panel-header>
				<mat-panel-title>Style</mat-panel-title>
			</mat-expansion-panel-header>
			<ul>
				<li><a mat-button href="{{docsPagePath}}/style/layout" (click)="changeComponent($event); false;">Layout</a></li>
				<li><a mat-button href="{{docsPagePath}}/style/colors" (click)="changeComponent($event); false;">Colors</a></li>
				<li><a mat-button href="{{docsPagePath}}/style/typography" (click)="changeComponent($event); false;">Typography</a></li>
				<li><a mat-button href="{{docsPagePath}}/style/icons" (click)="changeComponent($event); false;">Icons</a></li>
				<li><a mat-button href="{{docsPagePath}}/style/logotype" (click)="changeComponent($event); false;">Logotype</a></li>
			</ul>
		</mat-expansion-panel>
		<mat-expansion-panel [ngClass]="'c-docs-navigation_mat-expansion-panel'" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
			<mat-expansion-panel-header>
				<mat-panel-title>Components</mat-panel-title>
			</mat-expansion-panel-header>
			<ul>
				<li><a mat-button href="{{docsPagePath}}/components/buttons" (click)="changeComponent($event); false;">Buttons</a></li>
				<li><a mat-button href="{{docsPagePath}}/components/button-toggle" (click)="changeComponent($event); false;">Button toggle</a></li>
				<li><a mat-button href="{{docsPagePath}}/components/two_month_calendar" (click)="changeComponent($event); false;">Two month calendar</a></li>
				<li><a mat-button href="{{docsPagePath}}/components/search_components" (click)="changeComponent($event); false;">Search components</a></li>
				<li><a mat-button href="{{docsPagePath}}/components/forms" (click)="changeComponent($event); false;">Forms</a></li>
				<li><a mat-button href="{{docsPagePath}}/components/tabs" (click)="changeComponent($event); false;">Tabs</a></li>
				<li><a mat-button href="{{docsPagePath}}/components/tooltips" (click)="changeComponent($event); false;">Tooltips</a></li>
				<li><a mat-button href="{{docsPagePath}}/components/grid" (click)="changeComponent($event); false;">Grid</a></li>
				<li><a mat-button href="{{docsPagePath}}/components/images" (click)="changeComponent($event); false;">Images</a></li>
				<li><a mat-button href="{{docsPagePath}}/components/counter-input" (click)="changeComponent($event); false;">Counter Input</a></li>
				<li><a mat-button href="{{docsPagePath}}/components/dashboard" (click)="changeComponent($event); false;">Dashboard</a></li>
				<!--<li><a mat-button href="{{docsPagePath}}/components/profile_user_card" (click)="changeComponent($event); false;">Profile user card</a></li>-->
				<li><a mat-button href="{{docsPagePath}}/components/top_toolbar" (click)="changeComponent($event); false;">Top toolbar</a></li>
				<!-- TABLES -->
				<li><a mat-button href="{{docsPagePath}}/components/h21-table-agencies" (click)="changeComponent($event); false;">Table Agencies</a></li>
				<li><a mat-button href="{{docsPagePath}}/components/h21-table-agents" (click)="changeComponent($event); false;">Table Agents</a></li>
				<li><a mat-button href="{{docsPagePath}}/components/h21-table-providers" (click)="changeComponent($event); false;">Table Providers</a></li>
				<li><a mat-button href="{{docsPagePath}}/components/h21-table-travelers" (click)="changeComponent($event); false;">Table Travelers</a></li>
				<li><a mat-button href="{{docsPagePath}}/components/h21-table-users" (click)="changeComponent($event); false;">Table Users</a></li>
			</ul>
		</mat-expansion-panel>
		<mat-expansion-panel [ngClass]="'c-docs-navigation_mat-expansion-panel'" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
			<mat-expansion-panel-header>
				<mat-panel-title>How to use</mat-panel-title>
			</mat-expansion-panel-header>
			<ul>
				<li><a mat-button href="#">Article</a></li>
			</ul>
		</mat-expansion-panel>
		<mat-expansion-panel [ngClass]="'c-docs-navigation_mat-expansion-panel'" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
			<mat-expansion-panel-header>
				<mat-panel-title>Demo</mat-panel-title>
			</mat-expansion-panel-header>
			<ul>
				<li><a mat-button href="/demo/">Search page</a></li>
				<li><a mat-button href="/profile_demo/">Profile page</a></li>
			</ul>
		</mat-expansion-panel>
	</mat-accordion>
</nav>
