@import '~@angular/material/_theming.scss';
@include mat-core();

/* Base colors . */
$h21-color-bg-dark: #27334D;
$h21-color-bg-light: #F9F7F7;
$h21-color-gray: #4A4A4A;
$h21-color-gray-light: #9B9B9B;
$h21-color-ui-primary: #0044d6;
$h21-color-ui-primary-light: #2c67e6;
$h21-color-ui-accent: #28a745;
$h21-color-ui-accent-light: #3dcc5d;
$h21-color-text-primary: #000000;

/* . Base colors */

$h21-mat-blue: (
  50 : #e0e9fa,
  100 : #b3c7f3,
  200 : #80a2eb,
  300 : #4d7ce2,
  400 : #2c67e6,
  500 : #0044d6,
  600 : #003ed1,
  700 : #0035cc,
  800 : #002dc6,
  900 : #001fbc,
  A100 : #e5e7ff,
  A200 : #b2b9ff,
  A400 : #7f8cff,
  A700 : #6575ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$h21-mat-green: (
  50 : #e5f4e9,
  100 : #bfe5c7,
  200 : #94d3a2,
  300 : #69c17d,
  400 : #3dcc5d,
  500 : #28a745,
  600 : #249f3e,
  700 : #1e9636,
  800 : #188c2e,
  900 : #0f7c1f,
  A100 : #aeffb8,
  A200 : #7bff8b,
  A400 : #48ff5e,
  A700 : #2fff47,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$h21-mat-red: (
  50 : #ffe0e0,
  100 : #ffb3b3,
  200 : #ff8080,
  300 : #ff4d4d,
  400 : #ff2626,
  500 : #ff0000,
  600 : #ff0000,
  700 : #ff0000,
  800 : #ff0000,
  900 : #ff0000,
  A100 : #ffffff,
  A200 : #fff2f2,
  A400 : #ffbfbf,
  A700 : #ffa6a6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$h21-mat-typography: mat-typography-config(
  $font-family: Roboto,
  $display-4: mat-typography-level(56px, 56px, 300),
  $display-3: mat-typography-level(48px, 48px, 400),
  $display-2: mat-typography-level(40px, 40px, 400),
  $display-1: mat-typography-level(32px, 32px, 400),
  $headline: mat-typography-level(24px, 32px, 400),
  $title: mat-typography-level(20px, 32px, 500),
  $subheading-2: mat-typography-level(16px, 28px, 400),
  $subheading-1: mat-typography-level(15px, 24px, 700),
  $body-2: mat-typography-level(16px, 24px, 500),
  $body-1: mat-typography-level(16px, 24px, 400),
  $caption: mat-typography-level(12px, 20px, 400)
);
@include angular-material-typography($h21-mat-typography);

$h21-mat-primary: mat-palette($h21-mat-blue, 500, 400, 900);
$h21-mat-accent:  mat-palette($h21-mat-green, 500, 400, 900);
$h21-mat-warn:    mat-palette($h21-mat-red);

$h21-mat-theme: mat-light-theme($h21-mat-primary, $h21-mat-accent, $h21-mat-warn);

@include angular-material-theme($h21-mat-theme);


/* mat-button . */
.mat-button {
  font-weight: normal;
}
.mat-button.mat-primary {
  font-weight: normal;
  border: 1px solid mat-color($h21-mat-primary, 500);
}
.mat-button.mat-accent {
  font-weight: normal;
  border: 1px solid mat-color($h21-mat-accent, 500);
}
.mat-button.mat-primary:hover {
  color: mat-color($h21-mat-primary, 400);
  border-color: mat-color($h21-mat-primary, 400);
}
.mat-button.mat-accent:hover {
  color: mat-color($h21-mat-accent, 400);
  border-color: mat-color($h21-mat-accent, 400);
}
.mat-button.mat-primary .mat-button-focus-overlay,
.mat-button.mat-accent .mat-button-focus-overlay {
  background: none;
}
/* . mat-button */

/* mat-raised-button . */
.mat-raised-button {
  font-weight: normal;
}
.mat-raised-button.mat-primary:hover {
  background-color: mat-color($h21-mat-primary, 400);
}
.mat-raised-button.mat-accent:hover {
  background-color: mat-color($h21-mat-accent, 400);
}
/* . mat-raised-button */

/* mat-button-toggle-group . */
.mat-button-toggle {
  color: mat-color($h21-mat-primary, 500);
  border: 1px solid mat-color($h21-mat-primary, 500);
  font-weight: normal;
  font-size: 14px;
}
.mat-button-toggle:not(:last-child) {
  border-right: none;
}
.mat-button-toggle:hover {
  color: mat-color($h21-mat-primary, 400);
}
.mat-button-toggle.mat-button-toggle-checked {
  color: mat-color($h21-mat-primary, '500-contrast');
  background-color: mat-color($h21-mat-primary, 500);
  font-weight: normal;
}

.mat-button-toggle-group__color-accent .mat-button-toggle {
  color: mat-color($h21-mat-accent, 500);
  border-color: mat-color($h21-mat-accent, 500);
}
.mat-button-toggle-group__color-accent .mat-button-toggle:hover {
  color: mat-color($h21-mat-accent, 400);
}
.mat-button-toggle-group__color-accent .mat-button-toggle.mat-button-toggle-checked {
  color: mat-color($h21-mat-accent, '500-contrast');
  background-color: mat-color($h21-mat-accent, 500);
}
/* . mat-button-toggle-group */

/* mat-form-field . */
.mat-form-field.mat-primary .mat-form-field-underline {
  background-color: mat-color($h21-mat-primary, 400);
}
.mat-form-field.mat-accent .mat-form-field-underline {
  background-color: mat-color($h21-mat-accent, 400);
}
.mat-form-field-placeholder {
  color: $h21-color-gray-light;
}
.mat-select-panel.mat-primary .mat-option.mat-selected {
  background-color: mat-color($h21-mat-primary, 500);
  color: mat-color($h21-mat-accent, '500-contrast');
}
.mat-select-panel.mat-accent .mat-option.mat-selected {
  background-color: mat-color($h21-mat-accent, 500);
  color: mat-color($h21-mat-accent, '500-contrast');
}
/* . mat-form-field */

/* Layout . */
html, body {
  height: 100%;
}
* {
  outline: none !important;
}
.page_box {
  height: 100%;
}
.page_box.container-fluid {
  margin: 0;
  padding: 0;
}
.page_header-box {
  height: 120px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0, .2);
}
.page_content-box {
  height: calc(100% - 120px);
}
.__has-sidebar {
  padding-left: 65px !important;
  position: relative;
  overflow: hidden;
}
.w-spacer {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.map-box {
  width: 100%;
  height: 100%;
  background: #CAD2D3;
  overflowY: scroll;
}
/* . Layout */

/* H21-sidebar component . */
.c-sideabr_nav {
  height: 100%;
  width: 65px;
  position: absolute;
  top: 0;
  left: 0;
  background: $h21-color-bg-dark;
  color: white;
  z-index: 2;
}
.c-sideabr_nav .mat-button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 65px;
  width: 100%;
  min-width: 65px;
  display: block;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  border-radius: 0;

  &.is-active {
	background: $h21-color-bg-light;
	color: #0044D6;
  }
  .mat-button-wrapper span {
	display: block;
	line-height: normal;
  }
}
.c-sideabr_tabs-box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -475px;
  height: 100%;
  width: 410px;
  background: $h21-color-bg-light;
  box-shadow: 3px 0 21px 0 rgba(79,90,124, .40);
  &.is-active {
	left: 65px;
  }
}
.c-sideabr_tab {
  padding: 16px;
  box-sizing: border-box;
  display: none;
  &.is-active {
	display: block;
  }
}
/* . H21-sidebar component */







/* Docs layout . */
.docs_page-box {
  height: 100%;

  > .row {
    height: 100%;
  }
}
.docs_content-box {
  overflow: scroll;
  background-color: white;
  padding: 16px;

}
.docs_default-view {
  height: 100%;
  background: url('../../src/assets/img/main-bg-picture.svg') center center no-repeat;
  position: relative;

  p {
    font-family: mat-font-family($h21-mat-typography);
    font-size: 48px;
    font-weight: 300;
    position: absolute;
    bottom: 32px;
    width: 100%;
    margin: 0;
    color: $h21-color-bg-dark;
    text-align: center;
  }
}
.docs_logo-box {
  border-bottom: 1px solid $white-12-opacity;
}
.docs_logo {
  color: white;
  text-decoration: none;
  display: block;
  padding: 16px;
  height: 72px;
  font-family: mat-font-family($h21-mat-typography);
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  -moz-transition: background-color 0.1s;
  -webkit-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s;

  &:hover {
    background-color: $white-6-opacity;
    color: white;
  }
  .mat-icon {
    padding: 8px;
    border-radius: 50%;
    background: #00ADF2;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    margin-right: 5px;
  }
  > span {
    text-transform: uppercase;
    font-size: 14px;
    vertical-align: middle;
  }
}

.docs_sidebar {
  background: $h21-color-bg-dark;
  padding: 0 !important;
}
.docs_sidebar-show-hide-btns {
  display: block;
}
.docs_sidebar-show-btn .mat-icon,
.docs_sidebar-hide-btn .mat-icon {
  color: white;
  font-size: 40px;
  width: 40px;
  height: 40px;
}

@media (min-width: 992px) {
  .docs_sidebar-show-hide-btns {
    display: none;
  }
}

.c-docs-navigation .c-docs-navigation_mat-expansion-panel:not([class*=mat-elevation-z]){
  @include mat-elevation(0);
}
.c-docs-navigation_mat-expansion-panel {
  overflow: hidden;
  background: none;
  color: white;

  .mat-expansion-panel-header {
    padding: 0 16px;
    font-weight: 300;
    font-size: 16px;
  }
  .mat-expansion-panel-header-title,
  .mat-expansion-indicator::after {
    color: white;
  }
  .mat-expansion-panel-body {
    padding-left: 0;
    padding-right: 0;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  ul > li {
    margin: 0;
    padding: 0;
  }
  .mat-button {
    min-width: 1px;
    width: 100%;
    text-align: left;
    font-weight: 300;
    font-size: 13px;
    padding-left: 30px;
    &:hover {
      color: white;
    }
  }
}
.c-docs-navigation_mat-expansion-panel.mat-expanded {
  background: $white-6-opacity;
}
.c-docs-navigation_mat-expansion-panel.mat-expansion-panel-spacing {
  margin: 0;
}

.docs_icon-preview {
  display: block;
  width: 100%;

  figcaption {

  }
}
/* . Docs layout */

/* Component docs-navigation . */
.c-docs-navigation {

}

/* . Component docs-navigation */


/* Custom components . */
.mat-toolbar.c-h21-header_toolbar {
  background: $h21-color-bg-dark;
  color: #FFFFFF;
  height: 60px;
  > nav .mat-icon-button {
	margin: 0 10px;
  }
  > nav .mat-icon-button:last-child {
	margin-right: 0;
  }
  > span {
	font-size: 14px;
	font-weight: 300;
  }
}
a.c-h21-header_logo {
	color: white;
	text-decoration: none;
	display: inline-block;
	font-family: mat-font-family($h21-mat-typography);
	font-weight: 400;
	-moz-transition: background-color 0.1s;
	-webkit-transition: background-color 0.1s;
	-o-transition: background-color 0.1s;
	transition: background-color 0.1s;
  &:hover {
	color: white;
  }
  .mat-icon {
	padding: 8px;
	border-radius: 50%;
	background: #00ADF2;
	height: 40px;
	width: 40px;
	vertical-align: middle;
	margin-right: 5px;
  }
  > span {
	text-transform: uppercase;
	font-size: 14px;
	vertical-align: middle;
  }
}


.docs_color-preview__h21-color-ui-primary {
  background: $h21-color-ui-primary;
}
.docs_color-preview__h21-color-ui-primary-light {
  background: $h21-color-ui-primary-light;
}
.docs_color-preview__h21-color-ui-accent {
  background: $h21-color-ui-accent;
}
.docs_color-preview__h21-color-ui-accent-light {
  background: $h21-color-ui-accent-light;
}
.docs_color-preview__h21-color-gray {
  background: $h21-color-gray;
}
.docs_color-preview__h21-color-gray-light {
  background: $h21-color-gray-light;
}
.docs_color-preview__h21-color-text-primary {
  background: $h21-color-text-primary;
}
.docs_color-preview__h21-color-bg-dark {
  background: $h21-color-bg-dark;
}
.docs_color-preview__h21-color-bg-light {
  background: $h21-color-bg-light;
  border: 1px solid #000000;
}
/* . Custom components */

.mat-form-field .mat-icon {
  color: $h21-color-gray;
}

a {
  color: $h21-color-ui-primary;
  text-decoration: underline;
}
a:hover {
  color: $h21-color-ui-primary-light;
  text-decoration: none;
}
