/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height: 100%;
}

* {
  outline: none !important;
}

/* Page layout .*/
.page {
  height: 100%;
  position: relative;
}
.page_header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0,0,0, .2);
  z-index: 100;
}
.page_body-container {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: calc(100% - 120px);
  box-sizing: border-box;
  background: #FCFAFA;
  z-index: 90;
}
.page_body-container .mat-sidenav-container {
  height: 100%;
}
.page_sidebar-container.mat-sidenav {
  height: 100%;
  width: 365px;
  box-shadow: 2px 0 4px rgba(0,0,0, .2);
}
.page_content-container.mat-sidenav-content {
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}
.page_footer-container {
  display: none;
}
/* . Page layout */

/* h21-sidebar component . */
.c-sideabr_nav {
  height: 100%;
  background: #27334D;
  color: #FFFFFF;
  width: 65px;
}
.c-sideabr_nav .mat-button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 65px;
  width: 100%;
  min-width: 65px;
  display: block;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  border-radius: 0;
}
.c-sideabr_nav .mat-button-wrapper span {
  display: block;
  line-height: normal;
}
.c-sideabr_nav .mat-button.is-active {
  background: #FFFFFF;
  color: #0044D6;
}
.c-sideabr_tabs-container {
  position: absolute;
  top: 0;
  left: 65px;
  height: 100%;
  width: calc(100% - 65px);
}
.c-sideabr_tab {
  padding: 16px;
  box-sizing: border-box;
  display: none;
}
.c-sideabr_tab.is-active {
  display: block;
}
/* . h21-sidebar component */

/* h21-header component . */
a.c-h21-header_logo {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
}
a.c-h21-header_logo:hover {
  color: #fff;
}
a.c-h21-header_logo .mat-icon {
  padding: 8px;
  background: #1dafec;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
}
button.c-h21-header_button {
  margin: 0 5px;
}
button.c-h21-header_button:last-child {
  margin-right: 0;
}
.c-h21-header_button-notification-label {
  background: #ff0000;
  color: #fff;
  font-size: 10px;
  position: absolute;
  top: -2px;
  right: -2px;
  border-radius: 50%;
  min-width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  font-weight: normal;
}
.c-h21-header_spacer {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.c-h21-header_open-menu-btn.mat-icon-button {
  margin: 10px;
  text-align: center;
  color: #27334D;
}
/* . h21-header component */

/* docs component . */
.docs_table {
  width: 100%;
  font-weight: 300;
  border-collapse: collapse;
  margin: 0 0 32px 0;
}
.docs_table thead th {
  border-bottom: 2px solid rgba(155,155,155, .3);
  font-weight: normal;
  font-size: 13px;
  text-align: left;
  vertical-align: bottom;
}
.docs_table tbody td {
  border-bottom: 1px solid rgba(155,155,155, .3);
  padding: 6px 3px;
  text-align: left;
  vertical-align: top;
}
.docs_color-preview {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: #ffffff;
  box-sizing: border-box;
}
.docs_-grid .mat-grid-tile {

}
.logo-preview {
  display: inline-block;
  margin: 0;
  text-align: center;
}
.logo-preview p {
  padding: 16px;
  box-sizing: border-box;
  background: url('/assets/img/bg-for-transparent.png') center center repeat;
  width: 260px;
  height: 260px;
  margin: 0 auto 16px auto;
}
.logo-preview p img {
  width: 100%;
}
.logo-preview figcaption {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

.logo-preview a {
  text-decoration: none;
}
.logo-preview a * {
  vertical-align: middle;
}
.logo-preview a > span {
  text-decoration: underline;
}
.logo-preview a:hover > span {
  text-decoration: none;
}






.icon-preview {
  text-align: center;
}
.icon-preview .mat-icon {

}
.icon-preview__icon-size-48 .mat-icon {
  width: 48px;
  height: 48px;
}
.icon-preview span {
  font-size: 14px;
  font-weight: 300;
}


.mat-icon.__size-s {
  width: 16px;
  height: 16px;
  font-size: 16px;
}
.mat-icon.__size-m {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.mat-icon.__size-l {
  width: 32px;
  height: 32px;
  font-size: 32px;
}
.mat-icon.__size-xl {
  width: 48px;
  height: 48px;
  font-size: 48px;
}


/* . docs component */

.line-separator {
  height: 50px;
  clear: both;
}
.example-container {
  padding: 20px;
  border: 1px dashed #efefef;
}
.in-development {
  padding: 50px;
  font-size: 18px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #F1F1F1;
}
.form-field-test.mat-form-field,
.form-field-test .mat-select {
  width: 350px;
}

.code-example {
  padding: 16px;
  background: #F1F1F1;
  color: #616161;
  font-family: Courier;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 16px 0;
  min-height: 60px;
}
.docs_code-inline {
  font-family: Courier;
  font-size: 14px;
  color: #616161;
}


.mat-divider.bottom-dividier {
  margin-bottom: 16px;
}

.__text-right {
  text-align: right !important;
}
.__nowrap {
  white-space: nowrap;
}
