<nav class="c-sideabr_nav">
  <button mat-button (click)="activeTab='tab-search'" [class.is-active]="activeTab == 'tab-search'">
    <mat-icon>search</mat-icon>
    <span>Search</span>
  </button>
  <button mat-button (click)="activeTab='tab-filter'" [class.is-active]="activeTab == 'tab-filter'">
    <mat-icon>filter_list</mat-icon>
    <span>Filter</span>
  </button>
  <button mat-button (click)="activeTab='tab-history'" [class.is-active]="activeTab == 'tab-history'">
    <mat-icon>history</mat-icon>
    <span>History</span>
  </button>
  <button mat-button (click)="activeTab='tab-guide'" [class.is-active]="activeTab == 'tab-guide'">
    <mat-icon>help_outline</mat-icon>
    <span>guide</span>
  </button>
</nav>

<div class="c-sideabr_tabs-box is-active">

</div>
<!--<div class="c-sideabr_tabs-container">-->
  <!--<div class="c-sideabr_tab" [class.is-active]="activeTab == 'tab-search'">-->
    <!--<div class="in-development">The functional is in development</div>-->
  <!--</div>-->
  <!--<div class="c-sideabr_tab" [class.is-active]="activeTab == 'tab-filter'">-->
    <!--<div class="in-development">The functional is in development</div>-->
  <!--</div>-->
  <!--<div class="c-sideabr_tab" [class.is-active]="activeTab == 'tab-history'">-->
    <!--<div class="in-development">The functional is in development</div>-->
  <!--</div>-->
  <!--<div class="c-sideabr_tab" [class.is-active]="activeTab == 'tab-guide'">-->
	  <!--<h21-docs-navigation #docsNav></h21-docs-navigation>-->
  <!--</div>-->
<!--</div>-->
