<div class="container-fluid page_box">
  <div class="row no-gutters page_header-box">
    <div class="col-12 no-gutters">
      <div class="col-12 no-gutters">
        <h21-header [isPrototype]="true"
                    (onPrototypeAuth)="prototypeAuth($event)"
                    [username]="username"
                    (onLogout)="logout()"
                    [logotypeUrl]="'/assets/img/logo.svg'"
                    [notifyList]="getNotifyList()">
        </h21-header>
      </div>
    </div>
  </div>
</div>
