<div class="docs_page-box container-fluid" *ngIf="!isDemo() && !isProfileDemo()">
	<div class="docs_sidebar-wrapper row no-gutters">
		<div class="docs_sidebar" [class.is-opened]="sidebarOpened">
			<div class="docs_logo-box">
				<a href="" class="docs_logo">
					<mat-icon svgIcon="logo"></mat-icon>
					<span>Horse21.PRO</span>
				</a>
			</div>
			<div class="docs_sidebar-open-close-btns">
				<button mat-icon-button class="docs_sidebar-open-btn"
						*ngIf="!sidebarOpened"
						(click)="toggleSidebarOpened()">
					<mat-icon>menu</mat-icon>
				</button>
				<button mat-icon-button class="docs_sidebar-close-btn"
						*ngIf="sidebarOpened"
						(click)="toggleSidebarOpened()">
					<mat-icon>close</mat-icon>
				</button>
			</div>
			<div class="docs_sidebar-navigation">
				<docs-navigation (onChangeComponent)="changeComponent($event)"></docs-navigation>
			</div>
		</div>
		<div class="docs_content-box col-12">
			<div class="docs_content-box-inner">
				<docs></docs>
			</div>
		</div>
	</div>
</div>

<!-- Demo page -->
<div class="container-fluid page_box" *ngIf="isDemo()">
	<div class="row no-gutters page_header-box">
		<div class="col-12 no-gutters">
			<h21-header [username]="'Horse B.V. | Serhey Strovatikov'"
						[logotypeUrl]="'/assets/img/logo.svg'"></h21-header>
			<h21-top-toolbar [showFlightsMenuToggleControl]="true"
							 [showFlightsMapToggleControl]="true"
							 [showFlightsLanguageControl]="true"
							 [showFlightsCurrencyControl]="true"
							 (onMenuClick)="showSidebar()"></h21-top-toolbar>
		</div>
	</div>
	<div class="row no-gutters page_content-box">
		<div class="col-12 no-gutters __has-sidebar">
			<h21-sidebar></h21-sidebar>
			<div class="map-box"></div>
		</div>
	</div>
	<button mat-fab class="page_help-btn" (click)="openHelpSection()" color="warn">?</button>
</div>

<!-- Profile demo -->
<div class="container-fluid page_box" *ngIf="isProfileDemo()">
	<div class="row no-gutters page_header-box">
		<div class="col-12 no-gutters">
			<h21-header [username]="'Horse B.V. | Serhey Strovatikov'"
						[logotypeUrl]="'/assets/img/logo.svg'"></h21-header>
			<h21-top-toolbar [showBreadcrumbs]="true" [breadcrumbsData]="breadcrumbsData"
							 [showProfileUserCardActions]="true"></h21-top-toolbar>
		</div>
	</div>
	<div class="row no-gutters page_content-box">
		<div class="col-12 no-gutters __has-sidebar">
			<nav class="sidebar_nav">
				<a mat-button href="/profile_demo/board" class="is-active">
					<mat-icon>apps</mat-icon>
					<span>Board</span>
				</a>
				<a mat-button href="/profile_demo/tmc">
					<mat-icon>domain</mat-icon>
					<span>TMC</span>
				</a>
				<a mat-button href="/profile_demo/users">
					<mat-icon>person</mat-icon>
					<span>Users</span>
				</a>
			</nav>
			<div class="page_content">
				<h21-profile-user-card [cardView]="'user'"></h21-profile-user-card>
			</div>
		</div>
	</div>
</div>
