<div class="docs_page-box container-fluid" *ngIf="!isDemo()">
  <div class="row">
    <div class="docs_sidebar col-12 col-md-1 col-lg-3">
      <div class="docs_logo-box">
        <a href="" class="docs_logo">
          <mat-icon svgIcon="logo"></mat-icon>
          <span>Horse21.PRO</span>
        </a>
      </div>
      <div class="docs_sidebar-show-hide-btns">
        <button mat-icon-button class="docs_sidebar-show-btn">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button class="docs_sidebar-hide-btn">
          <mat-icon>close</mat-icon>
        </button>
      </div>
		<h21-docs-navigation (onChangeComponent)="changeComponent($event)"></h21-docs-navigation>
    </div>
    <div class="docs_content-box col-12 col-md-11 col-lg-9">
      <docs></docs>
    </div>
  </div>
</div>

<div class="container-fluid page_box" *ngIf="isDemo()">
	<div class="row no-gutters page_header-box">
		<div class="col-12 no-gutters">
			<h21-header [username]="'Horse B.V. | Serhey Strovatikov'" [logotypeUrl]="'/assets/img/logo.svg'"></h21-header>
			<h21-top-toolbar (onMenuClick)="showSidebar()"></h21-top-toolbar>
		</div>
	</div>
	<div class="row no-gutters page_content-box">
		<div class="col-12 no-gutters __has-sidebar">
			<h21-sidebar></h21-sidebar>
			<div class="map-box">
				<h21-two-month-calendar></h21-two-month-calendar>
			</div>
		</div>
	</div>
	<button mat-fab class="page_help-btn" (click)="openHelpSection()" color="warn">?</button>
</div>
