<div class="page">
  <header class="page_header-container">
    <h21-header></h21-header>
  </header>
  <main class="page_body-container">
    <mat-sidenav-container>
      <mat-sidenav opened="true" mode ="side" class="page_sidebar-container">
        <h21-sidebar></h21-sidebar>
      </mat-sidenav>
      <mat-sidenav-content class="page_content-container">
        <docs></docs>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </main>
  <footer class="page_footer-container"></footer>
</div>
