<div>
	<mat-accordion>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>Stops</mat-panel-title>
			</mat-expansion-panel-header>
			<div>
				<input type="range">
			</div>
		</mat-expansion-panel>
		<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
			<mat-expansion-panel-header>
				<mat-panel-title>Price</mat-panel-title>
			</mat-expansion-panel-header>
			<div>sdaojifjsodfijosdfijio</div>
		</mat-expansion-panel>
		<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
			<mat-expansion-panel-header>
				<mat-panel-title>Departure times</mat-panel-title>
			</mat-expansion-panel-header>
			<div>sdaojifjsodfijosdfijio</div>
		</mat-expansion-panel>
		<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
			<mat-expansion-panel-header>
				<mat-panel-title>Total duration</mat-panel-title>
			</mat-expansion-panel-header>
			<div>sdaojifjsodfijosdfijio</div>
		</mat-expansion-panel>
		<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
			<mat-expansion-panel-header>
				<mat-panel-title>Airports</mat-panel-title>
			</mat-expansion-panel-header>
			<div>sdaojifjsodfijosdfijio</div>
		</mat-expansion-panel>
		<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
			<mat-expansion-panel-header>
				<mat-panel-title>Airlines</mat-panel-title>
			</mat-expansion-panel-header>
			<div>sdaojifjsodfijosdfijio</div>
		</mat-expansion-panel>
		<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
			<mat-expansion-panel-header>
				<mat-panel-title>Options</mat-panel-title>
			</mat-expansion-panel-header>
			<div>sdaojifjsodfijosdfijio</div>
		</mat-expansion-panel>
	</mat-accordion>
</div>
